<div ng-controller="cpsTypeActivityEncourageUpdateController">
	<div class="main_content">
	<div class="breadcrumbs">
	    <div class="location-list">
	        <span class="location breadcrumb">您的位置：</span>
	        <ol class="breadcrumb">
	            <li>推广管理</li>
	            <li>激励管理 </li>
	            <li class=""> CPS分类管理 </li>
	            <li class=""> 激励方案详情 </li>
	              <li class="active"> 查看激励方案</li>
	        </ol>
	    </div>
	    <div class="location-end">
	        <span>查看激励方案  </span>
	        <button style=" width: 90px;float: right;padding-bottom: 5px;margin-top: -7px;" type="button" class="btn btn-primary" ng-click="goBack();">返回</button>
	    </div>
	</div>
	      <div class="info">
	        <div class="panel panel-default">
	            <div class="panel-body">
	              <table class="table table-bordered">
	                    <tbody>
	                    <tr>
	                        <td class="td-label">编号：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                      	<input type="text" class="form-control" readOnly="true" ng-model="queryModel.entityDTO.cpstypeId">
	                        </td>
	                    </tr>
	                    <tr>
	                        <td class="td-label">CPS分类名称：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                        	<input type="text" class="form-control" readOnly="true" ng-model="queryModel.entityDTO.cpstypeName">
	                        </td>
	                    </tr>
	                      <tr>
	                        <td class="td-label">编号：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                      <input type="text" class="form-control" readOnly="true" ng-model="queryModel.entityDTO.ruleId">
	                        </td>
	                    </tr>
	                    <tr>
	                        <td class="td-label" ng-class="{'update-audit' : checkColumnInList('ruleName')}" >名称：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                        	<input ng-if ="!checkColumnInList('ruleName')" type="text" class="form-control" ng-model="queryModel.entityDTO.ruleName">
	                        	<input ng-if ="checkColumnInList('ruleName')" type="text" class="form-control" ng-model="encourageRuleUpdateCustom.ruleName">
	                        </td>
	                    </tr>
	                     <tr>
	                        <td class="td-label" ng-class="{'update-audit' : checkColumnInList('encourageMethod')}">激励方式：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                        		<input ng-if ="!checkColumnInList('encourageMethod')" style="margin-left: 20px;" type="radio" name="encourageMethod" ng-model="queryModel.entityDTO.encourageMethod" value="0">
	                        		<input ng-if ="checkColumnInList('encourageMethod')" style="margin-left: 20px;" type="radio" name="encourageMethod" ng-model="encourageRuleUpdateCustom.encourageMethod" value="0">
	                        		佣金
	                        		<input ng-if ="!checkColumnInList('encourageMethod')" name="encourageMethod"  value="1" ng-model="queryModel.entityDTO.encourageMethod" type="radio">
	                        		<input ng-if ="checkColumnInList('encourageMethod')" name="encourageMethod"  value="1" ng-model="encourageRuleUpdateCustom.encourageMethod" type="radio">
	                        		 积分
	                        </td>
	                        
	                    </tr>
	                    <tr>
	                        <td class="td-label" >激励类型：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                     	    <input type="radio" value="1" name="encourageType" ng-model="queryModel.entityDTO.encourageType" style="margin-left: 20px;" >基本激励 
	                        </td>
	                        
	                    </tr>
	                    <tr>
	                        <td class="td-label" ng-class="{'update-audit' : checkColumnInList('encourageRatio')}" >激励比例：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                      		 <input  ng-if ="!checkColumnInList('encourageRatio')" type="text" class="form-control" ng-model="queryModel.entityDTO.encourageRatio" style="display: inline">
	                      		 <input  ng-if ="checkColumnInList('encourageRatio')" type="text" class="form-control" ng-model="encourageRuleUpdateCustom.encourageRatio" style="display: inline">%
	                        </td>
	                        
	                    </tr>
	                    <tr>
	                        <td class="td-label" ng-class="{'update-audit' : checkColumnInList('enableStartDate')}">激励开始时间：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                        	 	<input ng-if ="!checkColumnInList('enableStartDate')" type="text" class="datepicker form-control" ng-model="queryModel.entityDTO.enableStartDate" style="border-radius: 0px;"
									   custom-class="entrustStartDatepicker.className"
									   datepicker-popup="{{enableStartDatepicker.format}}"
									   is-open="enableStartDatepicker.status"
									   datepicker-options="enableStartDatepicker.options"
									   current-text="今天" clear-text="清除" close-text="关闭" show-weeks="false"
									   ng-click="enableStartDatepicker.status = true" ng-change="parseDate('queryModel.entityDTO.enableStartDate');" />
									<input ng-if ="checkColumnInList('enableStartDate')" type="text" class="datepicker form-control" ng-model="encourageRuleUpdateCustom.enableStartDate" style="border-radius: 0px;"
									   custom-class="entrustStartDatepicker.className"
									   datepicker-popup="{{enableStartDatepicker.format}}"
									   is-open="enableStartDatepicker.status"
									   datepicker-options="enableStartDatepicker.options"
									   current-text="今天" clear-text="清除" close-text="关闭" show-weeks="false"
									   ng-click="enableStartDatepicker.status = true" ng-change="parseDate('encourageRuleUpdateCustom.enableStartDate');" />
	                        </td>
	                    </tr>
	                     <tr>
	                        <td class="td-label" ng-class="{'update-audit' : checkColumnInList('enableEndDate')}" >激励结束时间：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                        	 <input  ng-if ="!checkColumnInList('enableEndDate')" type="text" class="datepicker form-control" ng-model="queryModel.entityDTO.enableEndDate" style="border-radius: 0px;"
									   custom-class="enableEndDatepicker.className"
									   datepicker-popup="{{enableEndDatepicker.format}}"
									   is-open="enableEndDatepicker.status"
									   datepicker-options="enableEndDatepicker.options"
									   current-text="今天" clear-text="清除" close-text="关闭"
									   ng-click="enableEndDatepicker.status = true" ng-change="parseDate('queryModel.entityDTO.enableEndDate');" />
								 <input  ng-if ="checkColumnInList('enableEndDate')" type="text" class="datepicker form-control" ng-model="encourageRuleUpdateCustom.enableEndDate" style="border-radius: 0px;"
									   custom-class="enableEndDatepicker.className"
									   datepicker-popup="{{enableEndDatepicker.format}}"
									   is-open="enableEndDatepicker.status"
									   datepicker-options="enableEndDatepicker.options"
									   current-text="今天" clear-text="清除" close-text="关闭"
									   ng-click="enableEndDatepicker.status = true" ng-change="parseDate('encourageRuleUpdateCustom.enableEndDate');" />
	                        </td>
	                    </tr>
	                    </tbody>
	                </table>
	            </div>
	
	        </div>
	    </div>
	      <div class="info">
	        <div class="panel panel-default">
	            <div class="panel-body">
	               <table class="table">
	                    <tbody>
	                      <tr>
	                        <td class="td-label" ng-class="{'update-audit' : checkColumnInList('fileName')}" >附件名:</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                        	<a ng-if ="!checkColumnInList('fileName')" style="margin-left: 20px;" ng-click="downloadfile(queryModel.entityDTO.fileName);">{{queryModel.entityDTO.fileName}}</a>
	                        	<a ng-if ="checkColumnInList('fileName')"  style="margin-left: 20px;" ng-click="downloadfile(encourageRuleUpdateCustom.fileName);">{{encourageRuleUpdateCustom.fileName}}</a>
	                        </td>
	                    </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	    </div>
	     <div class="breadcrumbs">
	   		<span>审核信息记录（数量：{{totalPages}}）  </span>
	        <button ng-show="auditHis == 1" style=" width: 90px;float: right;padding-bottom: 5px;margin-top: -7px;" type="button" class="btn btn-primary" ng-click="auditHis=0">收起</button>
	        <button ng-show="auditHis == 0" style=" width: 90px;float: right;padding-bottom: 5px;margin-top: -7px;" type="button" class="btn btn-primary" ng-click="auditHis=1">展开</button>
	   </div>
	    <div class="infoLlist" ng-show="auditHis == 1">
	        <div class="panel panel-default">
	            <div class="panel-body">
	                <table class="table">
	                    <thead class="table-header">
	                    <tr>
	                        <td>审核人</td>
	                        <td>审核时间</td>
	                        <td>审核结果</td>
	                        <td> 审核不通过原因</td>
	                    </tr>
	                    </thead>
	                    <tbody class="table-tbody">
	                     <tr ng-repeat="result in queryResult">
	                        <td>{{result.userName}}</td>
	                        <td>{{result.createTime}}</td>
	                        <td>
	                        	{{auditResultDropList | key: 'optionKey': result.result: 'optionValue'}}
	                        </td>
	                        <td>{{result.remark}}</td>
	                    </tr>
	                    </tbody>
	                </table>
	                 <div class="location-page">
	                    <el-paging total="totalPages" size="{{pageSize}}" index="pageIndex"
	                               searcher="doPagingSearch" />
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>