<div ng-controller="memberSetlementDetailController">
	<div class="main_content">
	<div class="breadcrumbs">
	    <div class="location-list">
	        <span class="location breadcrumb">您的位置：</span>
	        <ol class="breadcrumb">
	            <li>财务管理</li>
	            <li>财务管理</li>
	            <li class="active">查看结算单</li>
	        </ol>
	    </div>
	    <div class="location-end">
	        <span>查看结算单 </span>
	    </div>
	</div>
	    <div class="info">
	        <div class="panel panel-default">
	            <div class="panel-body">
	                <table class="table table-bordered">
	                    <tbody>
	                    <tr>
	                        <td class="td-label">会员账号：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                        	{{billInfo.memberId}}
	                        </td>
	                        
	                    </tr>
	                    <tr>
	                        <td class="td-label">会员状态：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                        	{{billInfo.accountStatus}}
	                        </td>
	                        
	                    </tr>
	                     <tr>
	                        <td class="td-label">媒体标识：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                        	{{billInfo.mediaId}}
	                        </td>
	                        
	                    </tr>
	                    <tr>
	                        <td class="td-label">媒体状态：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                        	{{mediaStatusArr | key: 'optionKey': billInfo.mediaStatus: 'optionValue'}}
	                        </td>
	                        
	                    </tr>
	                    <tr>
	                        <td class="td-label">结算流水号：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                        	{{billInfo.settlementId}}
	                        </td>
	                        
	                    </tr>
	                    <tr>
	                        <td class="td-label">激励类型：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                        	{{encourageTypeArr | key: 'optionKey': billInfo.type: 'optionValue'}}
	                        </td>
	                        
	                    </tr>
	                    <tr>
	                        <td class="td-label">活动名称：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                        	{{billInfo.name}}
	                        </td>
	                        
	                    </tr>
	                    <tr>
	                        <td class="td-label">结算时间：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
								{{billInfo.createDate}}
	                        </td>
	                        
	                    </tr>
	                    
	                     <tr>
	                        <td class="td-label">结算金额：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                        	{{billInfo.statisticsMoney}}
	                        </td>
	                        
	                    </tr>

	                    <tr>
	                        <td class="td-label">生成方式：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                        	{{billInfo.createWay}}
	                        </td>
	                        
	                    </tr>

	                    <tr>
	                        <td class="td-label">状态：</td>
	                        <td class="td-value-config" style="border:1px solid #99ccff">
	                        	{{setlementStatusArr | key: 'optionKey': billInfo.status: 'optionValue'}}
	                        </td>
	                        
	                    </tr>
	                    </tbody>
	                </table>

	                <table style="margin-top: 5px;" width="1141" border="1" bordercolor="#0099FF">
					  <tr>
					    <th style="height: 33px; padding-left: 5px;" colspan="5" scope="col">
					    	<div align="left">审核信息记录(数量：{{totalPages}})
							   	<img ng-show="hidden == false" style="padding-left: 930px;" src="./src/web/static/images/u156.png" ng-click="hidden = true;" />
			                    <img ng-show="hidden == true" style="padding-left: 930px;" src="./src/web/static/images/u223.png" ng-click="hidden = false;" />
						    
						    </div>
						</th>
					  </tr>
					  <tr ng-show="hidden == true" style="text-align: center;">
					    <td style="width: 171px; height: 33px;">审核人</td>
					    <td style="width: 427px; height: 33px;">审核时间</td>
					    <td style="width: 235px; height: 33px;">审核结果</td>
					    <td style="height: 33px; "colspan="2">审核不通过原因</td>
					  </tr>
					    <tr ng-show="hidden == true" style="text-align: center;" ng-repeat="audit in auditList">
					    <td style="height: 33px;">{{audit.userName}}</td>
					    <td style="height: 33px;">{{audit.createTime}}</td>
					    <td style="height: 33px;">{{audit.result}}</td>
					    <td style="height: 33px;" colspan="2">{{audit.remark}}</td>
					  </tr>
					   
					</table>

					<div ng-show="hidden == true" class="location-page">
					    <el-paging total="totalPages" size="10" specificsize="10" index="pageIndex" searcher="doPagingSearch" />
					</div>


	            </div>
				
	        </div>
	         
	    </div>
	    
	</div>
</div>