<!--
/***********************************************************************
 * -----------------------------------------------------------------<br>
 * 变更序号：<br>
 * 修改日期：<br>
 * 修改人员：<br>
 * 修改原因：<br>
 * **********************************************************************
  */
 -->
<dl>
    <dd class="modal-header">
        <button type="button" class="close" ng-click="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
		<span class="inner">
			<label class="title">帮助中心</label>
		</span>
    </dd>
    <div align="center">
        <label>暂无消息！</label>
    </div>
    <dd class="modal-footer align-center">
        <button class="btn btn-default btn-sm" ng-click="closeMessageModal()">取消</button>
    </dd>
</dl>